

.card {
	min-height:300px;
	float:left;
	width:29%;
	margin-right:1%;
	border-top:1px solid #dadada;
	position: relative;
	margin-bottom:10px;

}

.card .main {
	margin-top:10px;
}

.footer-bar {
	position: absolute;
	height:48px;
	z-index:1;
}

.taxItems .footer-bar {
	background: #b51800;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}	

.taxItems .footer-bar.in {
	background-color: #000;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}

.spendingItems .footer-bar {
	background: #000;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}	

.spendingItems .footer-bar.in {
	background-color: #b51800;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}



.card .footer-total {
	color:#FFF;
	z-index:2;
	position:absolute;
	left:2%;
	top:14px;
	font-weight:bold;
}

.card .btn {
	z-index:2;
	position:absolute;
	display: inline-block;
	right:2%;
	top:12px;
	background-color:#eaeaea;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}

.btn.in {
	background-color: #6fd867;
	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
}

.card .footer {
	background: rgba(0, 0, 0, 0.48);
    height: 48px;
    overflow: hidden;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

@media (max-width: 700px) {

.card {
width:100%;
margin:0;
}

}			